* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 100%;
    color: white;
}

body {
    background-color: black;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.brand-name {
    font-size: 1.3rem;
    font-weight: 800;
    color: #1ee0a9;
}

.icon {
    color: #1ee0a9;
    font-size: 1rem;
}

.nav-links {
    display: flex;
    gap: 3rem;
}

.nav-links a {
    text-decoration: none;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    height: 40vh;
    width: 70%;
    background-color: #1b1a1ab7;
    margin-top: 2rem;
    border-radius: 6px;
    position: relative;

}

.chart-container {
    width: 50%;
    height: 80%;
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.colorCardsCont{
    display: flex;
    flex-direction: column; 
    gap: 1rem;
}

.colorCard{
    display: flex;
    gap: 1rem;
}

.color{
    height: 1rem;
    width: 1.5rem;
    border-radius: 5px;
}

.iColor{
    background-color: #b0643c;
}

.bColor{
    background-color: #1ee0a9;
}

.eColor{
    background-color:#cb7c31 ;
}

.income-container {
    width: 60%;
    height: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.income-box {
    border-radius: 6px;
    height: 70px;
    width: 200px;
    background-color: #2c2c2cb7;
    position: relative;
    display: flex;
}

.heading {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-weight: 600;
    color: #1ee0a9;
}

.val {
    font-size: 1.2rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.symbol {
    position: absolute;
    right: 4rem;
    bottom: 1.2rem;
}

.feature {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}

.transactions {
    height: 42vh;
    width: 35%;
    background-color: #1b1a1ab7;
    overflow: hidden;
}

.add {
    width: 35%;
    height: 42vh;
    background-color: #1b1a1ab7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
}

.heading2 {
    color: #1ee0a9;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.inputs {
    width: 100%;
}

.inputEl {
    width: 100%;
    margin-left: 1rem;
}


.heading-3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #dddada;
}

.type {
    color: #8a8a8a;
    margin-bottom: 0.5rem;
}

.radio-btns {
    margin-top: 1rem;
}

.radio-bt {
    cursor: pointer;
    accent-color: #1ee0a9;
}

.input {
    background-color: #2c2c2cb7;
    width: 80%;
    border: none;
    height: 1.5rem;
    padding: 0 0 0 1rem;
}

.btnC {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add-btn {
    text-align: center;
    margin-top: 1rem;
    color: #ffffff;
    background-color: #01976d;
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
}

.add-btn:hover {
    transform: translateY(-2px);
    background-color: #07b885;
    cursor: pointer;
}

.th-cards {
    width: 100%;
    max-height: 35vh;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    
}

.th-cards::-webkit-scrollbar {
  width: 8px;
  
}

.th-cards::-webkit-scrollbar-thumb{
    background-color:  #414141;
    border-radius: 6px;
}

.th-cards::-webkit-scrollbar-thumb:hover{
    background-color: #5a5a5a;
}

.noTC {
    display: flex;
    height: 36vh;
    width: 100%;
    padding: 0 0 2rem 0;
    justify-content: center;
    align-items: center;
}

.noT {
    font-size: 1.2rem;
    color: #8a8a8a;
}

.transaction-history {
    width: 90%;
    height: 5rem;
    background-color: #2c2c2cb7;
    padding: 0 0.2rem 0 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.descr::first-letter{
    text-transform: uppercase;
}

.income {
    border-right: 4px solid rgb(109, 197, 82);
}

.section{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 1rem;

}

.detail{
    font-size: 0.8rem;
    color: #bababa;
}

.right-elem {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.expense {
    border-right: 4px solid rgb(192, 51, 51);
}

.transaction-history:hover {
    background-color: #393939b7;
}

.symbol2 {
    font-size: 0.8rem;
}

.delt-btn i{
    color: rgb(222, 67, 67);
    display: none;
    
}

.transaction-history:hover .delt-btn i {
    display: block;
}

.delt-btn i:hover {
    color: rgb(231, 35, 35);
    transform: translateY(-1px);
}